[core]
	autocrlf = false
  editor = 'D:/vim/gvim.exe'
	quotepath = off
[user]
	email = moonoverwalker@gmail.com
	name = moonoverwalker
[branch "master"]
	merge = refs/heads/master
[http]
[https]
[color]
	ui = auto
[http]
[gui]
	encoding = utf-8
[merge]
  tool = p4merge
[mergetool]
  keepBackup = false
[mergetool "p4merge"]
	cmd = 'D:/P4Merge/p4merge.exe' \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
  trustExitCode = false
  keepTemporaries = false
[difftool "sourcetree"]
	cmd = 'D:/P4Merge/p4merge.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'D:/P4Merge/p4merge.exe' \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
